<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">    
      <specification
            verticalRulerPreferenceKey="myoccurrenceIndicationInVerticalRuler"
            annotationType="highlighter.highlightAnnotation"
            textPreferenceKey="myoccurrenceIndication"
            colorPreferenceKey="myoccurrenceIndicationColor"
            highlightPreferenceKey="myoccurrenceHighlighting"
            isGoToPreviousNavigationTarget="false"
            includeOnPreferencePage="true"
            textPreferenceValue="false"
            isGoToNextNavigationTarget="false"
            textStylePreferenceValue="IBEAM"
            overviewRulerPreferenceKey="myoccurrenceIndicationInOverviewRuler"
            showInNextPrevDropdownToolbarAction="true"
            presentationLayer="4"
            highlightPreferenceValue="true"
            label="ExampleAnnotation"
            colorPreferenceValue="108,157,232"
            verticalRulerPreferenceValue="false"
            isGoToPreviousNavigationTargetKey="ismyOccurrenceGoToPreviousNavigationTarget"
            showInNextPrevDropdownToolbarActionKey="showmyOccurrenceInNextPrevDropdownToolbarAction"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="highlighter.style"
            isGoToNextNavigationTargetKey="ismyOccurrenceGoToNextNavigationTarget">
      </specification>
   </extension>   
   -->  
 <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="test">
      </category>
      <view
            category="test"
            class="com.conref.refactoring.splitlock.views.MethodsView"
            icon="icons/lock.png"
            id="test.views.SampleView"
            name="Split Candidates">
      </view>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.editorActions">
         <editorContribution
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor"
            id="splitlock.editorContribution">
     
         <menu
               label="synchronization refactor"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               toolbarPath="sampleGroup"
               label="Reset"
               tooltip="Reset highlights"
               icon="icons/reset.gif"
               class="splitlock.highlighter.RemoveHighlightAction"
               style="push"
               id="highlighter.RemoveHighlight"/> 
               
         <action
               class="com.conref.refactoring.splitlock.actions.splitlock"
               icon="icons/lock.png"
               id="ConRef.splitlock_auto"
               label="splitlock automatically"
               menubarPath="sampleMenu/sampleGroup"
               style="push"
               toolbarPath="sampleGroup">
         </action>
     
      </editorContribution>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="ConRef.viewerContribution1"
            targetID="#CompilationUnitEditorContext">
         <menu
               id="conRefMenu"
               label="Concurrent Refactoring"
               path="additions">
            <separator
                  name="basicGroup">
            </separator>
         </menu>
         <action
               class="com.conref.refactoring.makeClassThreadSafe.actions.makeClassThreadSafe"
               id="ConRef.makeClassThreadSafe"
               label="Make Class Thread Safe"
               menubarPath="conRefMenu/basicGroup">
         </action>
         <action
               class="com.conref.refactoring.makeFieldThreadLocal.actions.makeFieldThreadLocal"
               id="ConRef.makeFieldTjreadLocal"
               label="Make Field ThreadLocal"
               menubarPath="conRefMenu/basicGroup">
         </action>
         <action
               class="com.conref.refactoring.convertReentrantLockToReadWriteLock.actions.convertReentrantLockToRWLock"
               id="ConRef.convertReentrantLockToRWLock"
               label="Convert ReentrantLock To ReadWriteLock"
               menubarPath="conRefMenu/basicGroup">
         </action>
         <action
               class="com.conref.refactoring.convertRWLockToReentrantLock.actions.convertRWLockToReentrantLock"
               id="ConRef.convertRWLockToReentrantLock"
               label="Convert ReadWriteLock To ReentrantLock"
               menubarPath="conRefMenu/basicGroup">
         </action>
         <action
               class="com.conref.refactoring.mergeLocks.action.mergeLocks"
               id="ConRef.mergeLocks"
               label="Merge Locks"
               menubarPath="conRefMenu/basicGroup">
         </action>
         <action
               class="com.conref.refactoring.lockCallSites.action.lockCallSites"
               id="ConRef.lockCallSites"
               label="Lock CallSites"
               menubarPath="conRefMenu/basicGroup">
         </action>       
         <action
               class="com.conref.refactoring.makeFieldAtomic.actions.makeFieldAtomic"
               id="ConRef.makeFieldAtomic"
               label="Make Field Atomic"
               menubarPath="conRefMenu/basicGroup">
         </action>
         <action
               class="com.conref.refactoring.convertSyncFieldToLock.actions.convertSyncFieldToLock"
               id="ConRef.convertSyncFieldToLock"
               label="Convert SyncField To Lock"
               menubarPath="conRefMenu/basicGroup">
         </action>   <action
               class="com.conref.refactoring.splitlock.actions.splitlock"
               id="ConRef.splitlock_manual"
               label="Split Lock Manual"
               menubarPath="conRefMenu/basicGroup">
         </action>
                     <action
                           class="com.conref.refactoring.splitlock.actions.splitlock"
                           id="ConRef.splitlock_auto"
                           label="Split Lock automatically"
                           menubarPath="conRefMenu/basicGroup">
                     </action>
 <!--        <action
               icon="icons/shrink - 副本.png"
               id="ConRef.shrinkCS"
               label="shrinkCriticalSection"
               menubarPath="conRefMenu/basicGroup">
         </action>
         <action
               icon="icons/private.png"
               id="ConRef.mergeLock"
               label="mergeLock"
               menubarPath="conRefMenu/basicGroup">
         </action>
  -->
      </viewerContribution>
   </extension>

</plugin>
